################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecommerce_Product_API/bin/Debug/net10.0
